In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('data/processed/tabla_actores.csv')

df.head(10)

,name,edad,raza,nacionalidad,winner,film,year_ceremony
0,Richard Barthelmess,NaN,NaN,NaN,False,The Noose,1928
1,Emil Jannings,45.0,Blanca,Alemania,True,The Last Command,1928
2,George Bancroft,NaN,NaN,NaN,False,Thunderbolt,1929
3,Warner Baxter,40.0,Blanca,Estados Unidos,True,In Old Arizona,1929
4,Chester Morris,NaN,NaN,NaN,False,Alibi,1929
5,Paul Muni,42.0,Blanca,Estados Unidos,False,The Valiant,1929
6,Lewis Stone,NaN,NaN,NaN,False,The Patriot,1929
7,George Arliss,NaN,NaN,NaN,True,Disraeli,1930
8,George Arliss,NaN,NaN,NaN,False,The Green Goddess,1930
9,Wallace Beery,51.0,Blanca,Estados Unidos,False,The Big House,1930

In [3]:
media_edad = df['edad'].mean()
print('Media de edad de los actores:', media_edad)

Media de edad de los actores: 42.129629629629626

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Cargar el CSV en un DataFrame
df_actores = pd.read_csv('data/processed/tabla_actores.csv')

df_actores['year_ceremony'].unique()

# Verificar el rango de años en el DataFrame
print(df_actores['year_ceremony'].min(), df_actores['year_ceremony'].max())

# Convertir la columna 'year_ceremony' a tipo numérico
df_actores['year_ceremony'] = pd.to_numeric(df_actores['year_ceremony'], errors='coerce')

# Crear una gráfica de dispersión de la edad de los actores por año de ceremonia, coloreada por raza
plt.figure(figsize=(14, 8))
sns.scatterplot(data=df_actores, x='year_ceremony', y='edad', hue='raza', style='winner', palette='Set1', s=100)
plt.title('Edad de los Actores por Año de Ceremonia')
plt.xlabel('Año de Ceremonia')
plt.ylabel('Edad')
plt.legend(title='Raza')
plt.grid(True)
plt.show()

array([1928, 1929, 1930, 1931, 1932, 1933, 1935, 1936, 1937, 1938, 1939,
       1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950,
       1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961,
       1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972,
       1973, 1974, 1975, 1976], dtype=int64)