In [144]:
import pandas as pd

In [145]:
actor_df=pd.read_csv('best_actor_winners_1928-2023.csv',encoding='ISO-8859-1')

In [146]:
actor_df.shape

(96, 6)

In [147]:
actor_df.tail()

,Year,Actor,Role(s),Film,Age,Nationality
91,2019 \r\n,Joaquin Phoenix,Arthur Fleck / Joker,Joker,45,American
92,2020/21\r\n\r\n,Anthony Hopkins,Anthony,The Father,83,British
93,2021\r\n,Will Smith,Richard Williams,King Richard,53,American
94,2022\r\n,Brendan Fraser,Charlie,The Whale,54,Canadian
95,2023\r\n,Cillian Murphy,J. Robert Oppenheimer,Oppenheimer,47,Irish

In [148]:
actor_df.isnull().sum()

Year           0
Actor          0
Role(s)        0
Film           0
Age            0
Nationality    0
dtype: int64

In [149]:
actor_df.dtypes

Year           object
Actor          object
Role(s)        object
Film           object
Age             int64
Nationality    object
dtype: object

In [150]:
actor_df['Year'].unique()

array(['1928 \r\n', '1929\r\n', '1930 \r\n', '1931 \r\n', '1932 \r\n',
       '1933 \r\n', '1934 \r\n', '1935 \r\n', '1936 \r\n', '1937 \r\n',
       '1938 \r\n', '1939 \r\n', '1940 \r\n', '1941 \r\n', '1942 \r\n',
       '1943 \r\n', '1944 \r\n', '1945 \r\n', '1946 \r\n', '1947 \r\n',
       '1948 \r\n', '1949 \r\n', '1950 \r\n', '1951 \r\n', '1952 \r\n',
       '1953 \r\n', '1954 \r\n', '1955 \r\n', '1956 \r\n', '1957 \r\n',
       '1958 \r\n', '1959 \r\n', '1960 \r\n', '1961 \r\n', '1962 \r\n',
       '1963 \r\n', '1964 \r\n', '1965 \r\n', '1966 \r\n', '1967 \r\n',
       '1968 \r\n', '1969 \r\n', '1970 \r\n', '1971 \r\n', '1972 \r\n',
       '1973 \r\n', '1974 \r\n', '1975 \r\n', '1976 \r\n', '1977 \r\n',
       '1978 \r\n', '1979 \r\n', '1980 \r\n', '1981 \r\n', '1982 \r\n',
       '1983 \r\n', '1984 \r\n', '1985 \r\n', '1986 \r\n', '1987 \r\n',
       '1988 \r\n', '1989 \r\n', '1990 \r\n', '1991 \r\n', '1992 \r\n',
       '1993 \r\n', '1994 \r\n', '1995 \r\n', '1996 \r\n', '1997 \r\n',
       '1998 \r\n', '1999 \r\n', '2000 \r\n', '2001 \r\n', '2002 \r\n',
       '2003 \r\n', '2004 \r\n', '2005 \r\n', '2006 \r\n', '2007 \r\n',
       '2008 \r\n', '2009 \r\n', '2010 \r\n', '2011 \r\n', '2012 \r\n',
       '2013 \r\n', '2014 \r\n', '2015 \r\n', '2016 \r\n', '2017 \r\n',
       '2018 \r\n', '2019 \r\n', '2020/21\r\n\r\n', '2021\r\n',
       '2022\r\n', '2023\r\n'], dtype=object)

In [151]:
actor_df['Year'] =actor_df['Year'].str.strip()

In [152]:
actor_df['Year'] = actor_df['Year'].str.replace(r'\D', '', regex=True)

In [153]:
actor_df.head()

,Year,Actor,Role(s),Film,Age,Nationality
0,1928,Emil Jannings,Grand Duke Sergius Alexander,The Last Command,44,German
1,1929,Warner Baxter,The Cisco Kid,In Old Arizona,39,American
2,1930,George Arliss,Benjamin Disraeli,Disraeli,61,British
3,1931,Lionel Barrymore,Stephen Ashe,A Free Soul,53,American
4,1932,Wallace Beery,"Andy ""Champ"" Purcell",The Champ,48,American

In [154]:
oscars3_df=pd.read_csv('oscars3.csv')

In [155]:
oscars3_df.shape

(10889, 7)

In [156]:
oscars3_df.head(20)

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False
5,1927,1928,1,ART DIRECTION,Rochus Gliese,Sunrise,False
6,1927,1928,1,ART DIRECTION,William Cameron Menzies,The Dove;,True
7,1927,1928,1,ART DIRECTION,Harry Oliver,7th Heaven,False
8,1927,1928,1,CINEMATOGRAPHY,George Barnes,The Devil Dancer;,False
9,1927,1928,1,CINEMATOGRAPHY,Charles Rosher,Sunrise,True
10,1927,1928,1,CINEMATOGRAPHY,Karl Struss,Sunrise,True
11,1927,1928,1,DIRECTING (Comedy Picture),Lewis Milestone,Two Arabian Knights,True
12,1927,1928,1,DIRECTING (Comedy Picture),Ted Wilde,Speedy,False
13,1927,1928,1,DIRECTING (Dramatic Picture),Frank Borzage,7th Heaven,True
14,1927,1928,1,DIRECTING (Dramatic Picture),Herbert Brenon,Sorrell and Son,False
15,1927,1928,1,DIRECTING (Dramatic Picture),King Vidor,The Crowd,False
16,1927,1928,1,ENGINEERING EFFECTS,Ralph Hammeras,NaN,False
17,1927,1928,1,ENGINEERING EFFECTS,Roy Pomeroy,Wings,True
18,1927,1928,1,ENGINEERING EFFECTS,Nugent Slaughter,NaN,False
19,1927,1928,1,OUTSTANDING PICTURE,The Caddo Company,The Racket,False

In [157]:
oscars3_df_1928=oscars3_df[oscars3_df['year_ceremony']==1928]

In [158]:
oscars3_df_1928

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False
5,1927,1928,1,ART DIRECTION,Rochus Gliese,Sunrise,False
6,1927,1928,1,ART DIRECTION,William Cameron Menzies,The Dove;,True
7,1927,1928,1,ART DIRECTION,Harry Oliver,7th Heaven,False
8,1927,1928,1,CINEMATOGRAPHY,George Barnes,The Devil Dancer;,False
9,1927,1928,1,CINEMATOGRAPHY,Charles Rosher,Sunrise,True
10,1927,1928,1,CINEMATOGRAPHY,Karl Struss,Sunrise,True
11,1927,1928,1,DIRECTING (Comedy Picture),Lewis Milestone,Two Arabian Knights,True
12,1927,1928,1,DIRECTING (Comedy Picture),Ted Wilde,Speedy,False
13,1927,1928,1,DIRECTING (Dramatic Picture),Frank Borzage,7th Heaven,True
14,1927,1928,1,DIRECTING (Dramatic Picture),Herbert Brenon,Sorrell and Son,False
15,1927,1928,1,DIRECTING (Dramatic Picture),King Vidor,The Crowd,False
16,1927,1928,1,ENGINEERING EFFECTS,Ralph Hammeras,NaN,False
17,1927,1928,1,ENGINEERING EFFECTS,Roy Pomeroy,Wings,True
18,1927,1928,1,ENGINEERING EFFECTS,Nugent Slaughter,NaN,False
19,1927,1928,1,OUTSTANDING PICTURE,The Caddo Company,The Racket,False
20,1927,1928,1,OUTSTANDING PICTURE,Fox,7th Heaven,False
21,1927,1928,1,OUTSTANDING PICTURE,Paramount Famous Lasky,Wings,True
22,1927,1928,1,UNIQUE AND ARTISTIC PICTURE,Fox,Sunrise,True
23,1927,1928,1,UNIQUE AND ARTISTIC PICTURE,Metro-Goldwyn-Mayer,The Crowd,False
24,1927,1928,1,UNIQUE AND ARTISTIC PICTURE,Paramount Famous Lasky,Chang,False
25,1927,1928,1,WRITING (Adaptation),Alfred Cohn,The Jazz Singer,False
26,1927,1928,1,WRITING (Adaptation),Anthony Coldeway,Glorious Betsy,False
27,1927,1928,1,WRITING (Adaptation),Benjamin Glazer,7th Heaven,True
28,1927,1928,1,WRITING (Original Story),Lajos Biro,The Last Command,False
29,1927,1928,1,WRITING (Original Story),Ben Hecht,Underworld,True
30,1927,1928,1,WRITING (Title Writing),Gerald Duffy,The Private Life of Helen of Troy,False
31,1927,1928,1,WRITING (Title Writing),Joseph Farnham,NaN,True
32,1927,1928,1,WRITING (Title Writing),"George Marion, Jr.",NaN,False
33,1927,1928,1,SPECIAL AWARD,Warner Bros.,NaN,True
34,1927,1928,1,SPECIAL AWARD,Charles Chaplin,NaN,True

In [159]:
oscars3_df['category'].unique

<bound method Series.unique of 0                                   ACTOR
1                                   ACTOR
2                                 ACTRESS
3                                 ACTRESS
4                                 ACTRESS
                       ...
10884       WRITING (Original Screenplay)
10885    JEAN HERSHOLT HUMANITARIAN AWARD
10886                      HONORARY AWARD
10887                      HONORARY AWARD
10888                      HONORARY AWARD
Name: category, Length: 10889, dtype: object>

In [160]:
oscars3_df2 = oscars3_df[oscars3_df['category'] == 'ACTOR']

In [161]:
oscars3_df2

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
35,1928,1929,2,ACTOR,George Bancroft,Thunderbolt,False
36,1928,1929,2,ACTOR,Warner Baxter,In Old Arizona,True
37,1928,1929,2,ACTOR,Chester Morris,Alibi,False
...,...,...,...,...,...,...,...
5298,1975,1976,48,ACTOR,Walter Matthau,The Sunshine Boys,False
5299,1975,1976,48,ACTOR,Jack Nicholson,One Flew over the Cuckoo's Nest,True
5300,1975,1976,48,ACTOR,Al Pacino,Dog Day Afternoon,False
5301,1975,1976,48,ACTOR,Maximilian Schell,The Man in the Glass Booth,False
5302,1975,1976,48,ACTOR,James Whitmore,"Give 'em Hell, Harry!",False

In [162]:
oscars3_df2.reset_index(drop=True, inplace=True)

In [163]:
oscars3_df2

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1928,1929,2,ACTOR,George Bancroft,Thunderbolt,False
3,1928,1929,2,ACTOR,Warner Baxter,In Old Arizona,True
4,1928,1929,2,ACTOR,Chester Morris,Alibi,False
...,...,...,...,...,...,...,...
227,1975,1976,48,ACTOR,Walter Matthau,The Sunshine Boys,False
228,1975,1976,48,ACTOR,Jack Nicholson,One Flew over the Cuckoo's Nest,True
229,1975,1976,48,ACTOR,Al Pacino,Dog Day Afternoon,False
230,1975,1976,48,ACTOR,Maximilian Schell,The Man in the Glass Booth,False
231,1975,1976,48,ACTOR,James Whitmore,"Give 'em Hell, Harry!",False

In [164]:
oscars3_df2.insert(loc=5, column="Edad", value=pd.NA)

In [165]:
oscars3_df2.insert(loc=6, column="Nacionalidad", value=pd.NA)

In [166]:
oscars3_df2.insert(loc=6, column="Raza", value=pd.NA)

In [167]:
oscars3_df2.head ()

,year_film,year_ceremony,ceremony,category,name,Edad,Raza,Nacionalidad,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,<NA>,<NA>,<NA>,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,<NA>,<NA>,<NA>,The Last Command,True
2,1928,1929,2,ACTOR,George Bancroft,<NA>,<NA>,<NA>,Thunderbolt,False
3,1928,1929,2,ACTOR,Warner Baxter,<NA>,<NA>,<NA>,In Old Arizona,True
4,1928,1929,2,ACTOR,Chester Morris,<NA>,<NA>,<NA>,Alibi,False

In [168]:

oscars3_df2.drop(columns=["ceremony"], inplace=True)

C:\Users\lucia\AppData\Local\Temp\ipykernel_24416\726761736.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oscars3_df2.drop(columns=["ceremony"], inplace=True)

In [169]:
oscars3_df2

,year_film,year_ceremony,category,name,Edad,Raza,Nacionalidad,film,winner
0,1927,1928,ACTOR,Richard Barthelmess,<NA>,<NA>,<NA>,The Noose,False
1,1927,1928,ACTOR,Emil Jannings,<NA>,<NA>,<NA>,The Last Command,True
2,1928,1929,ACTOR,George Bancroft,<NA>,<NA>,<NA>,Thunderbolt,False
3,1928,1929,ACTOR,Warner Baxter,<NA>,<NA>,<NA>,In Old Arizona,True
4,1928,1929,ACTOR,Chester Morris,<NA>,<NA>,<NA>,Alibi,False
...,...,...,...,...,...,...,...,...,...
227,1975,1976,ACTOR,Walter Matthau,<NA>,<NA>,<NA>,The Sunshine Boys,False
228,1975,1976,ACTOR,Jack Nicholson,<NA>,<NA>,<NA>,One Flew over the Cuckoo's Nest,True
229,1975,1976,ACTOR,Al Pacino,<NA>,<NA>,<NA>,Dog Day Afternoon,False
230,1975,1976,ACTOR,Maximilian Schell,<NA>,<NA>,<NA>,The Man in the Glass Booth,False
231,1975,1976,ACTOR,James Whitmore,<NA>,<NA>,<NA>,"Give 'em Hell, Harry!",False

In [170]:
oscars3_df2.insert(loc=6, column="Raza", value=pd.NA)

ValueError: cannot insert Raza, already exists

In [ ]:
oscars3_df2.insert(loc=10, column="Taquilla", value=pd.NA)

In [ ]:
oscars3_df2

,year_film,year_ceremony,category,name,Edad,Raza,Nacionalidad,film,winner,Presupuesto,Taquilla
0,1927,1928,ACTOR,Richard Barthelmess,<NA>,<NA>,<NA>,The Noose,False,<NA>,<NA>
1,1927,1928,ACTOR,Emil Jannings,<NA>,<NA>,<NA>,The Last Command,True,<NA>,<NA>
2,1928,1929,ACTOR,George Bancroft,<NA>,<NA>,<NA>,Thunderbolt,False,<NA>,<NA>
3,1928,1929,ACTOR,Warner Baxter,<NA>,<NA>,<NA>,In Old Arizona,True,<NA>,<NA>
4,1928,1929,ACTOR,Chester Morris,<NA>,<NA>,<NA>,Alibi,False,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...
227,1975,1976,ACTOR,Walter Matthau,<NA>,<NA>,<NA>,The Sunshine Boys,False,<NA>,<NA>
228,1975,1976,ACTOR,Jack Nicholson,<NA>,<NA>,<NA>,One Flew over the Cuckoo's Nest,True,<NA>,<NA>
229,1975,1976,ACTOR,Al Pacino,<NA>,<NA>,<NA>,Dog Day Afternoon,False,<NA>,<NA>
230,1975,1976,ACTOR,Maximilian Schell,<NA>,<NA>,<NA>,The Man in the Glass Booth,False,<NA>,<NA>
231,1975,1976,ACTOR,James Whitmore,<NA>,<NA>,<NA>,"Give 'em Hell, Harry!",False,<NA>,<NA>